@charset "utf-8";

// widthが1441pxを超えた時
@media screen and (min-width:1441px){
    .main{
        width: 100%;
        height: 100%;
        &__link{
            width: 52%;
            background-image: url("../img/fysi_detail.png");
        }
    }
}