.workList
    .workList__content
        .workList__content__img
            img(src="img/mama_mb.png", alt="")
        .workList__content__text
            h3 MAMAgement
            p
                | 冷蔵庫の中にある食材たちを管理し
                br
                | レシピの提案をしてくれるサービス
            .workList__content__text__btn
                a(href="mama_detail.html") 詳細へ
                a(href="http://click.ecc.ac.jp/ecc/hisimaru/works/mamas/" target="blank") サイトへ