- var thisPage = "放課後フィットネス";
- var link_thisPage = "fitnes_link";

html(lang="ja")
    head
        include _head
    body
        nav.nav
            ul.nav__box
                li
                    a(href="index.html#top") Top
                li
                    a(href="index.html#about") About
                li
                    a(href="index.html#work") Works
                li
                    a(href="index.html#contact") Contact
        main.main
            .main__title
                h1 放課後フィットネス
            .main__link
                a(href="http://click.ecc.ac.jp/ecc/hisimaru/works/afterschool_fitnes/" target="blank") This Site
                    span
            .main__concept
                h2 Concept
                p
                    |中高生の健康や自信を伸ばす事に特化したフィットネスサービス
                    br
                    |夏休み期間中に行われたSICで初めてのグループでの制作物です。
                    br
                    |初めてPHPを使ってデータベースにデータを保存するところをメインで制作しました。
            .main__productDetail
                ul.main__productDetail__child01
                    li
                        p Production
                        p グループ制作
                    li
                        p Position
                        p 企画/コーデング
                ul.main__productDetail__child02
                    li
                        p Use time
                        p 30時間
                    li
                        p Tool
                        p
                            |Photoshop/XD/
                            br
                            |HTML/CSS/PHP
            .main__button
                a(href="index.html#work") 他の作品を見る
            footer
                p.copyright &copy; 2020 hirokiishimaru
                