- var thisPage = "cafe Fysi";
- var link_thisPage = "fysi_link";

html(lang="ja")
    head
        include _head
    body
        nav.nav
            ul.nav__box
                li
                    a(href="index.html#top") Top
                li
                    a(href="index.html#about") About
                li
                    a(href="index.html#work") Works
                li
                    a(href="index.html#contact") Contact
        main.main
            .main__title
                h1 cafe Fysi
            .main__link
                a(href="http://click.ecc.ac.jp/ecc/hisimaru/works/fysi/" target="blank") This Site 
                    span
            .main__concept
                h2 Concept
                p
                    |木や花の自然に囲まれた自然をコンセプトにしたカフェサイト
                    br
                    |「カフェ×自然」のキーワードを元に自然に囲まれて癒されるカフェのサイトを制作しました。
                    br
                    | webエンジニアを目指したいと思っており、コーディングに力を入れた作品になっています。
            .main__productDetail
                ul.main__productDetail__child01
                    li
                        p Production
                        p 個人制作
                    li
                        p Position
                        p 企画/デザイン/コーデング
                ul.main__productDetail__child02
                    li
                        p Use time
                        p 50時間
                    li
                        p Tool
                        p
                            |Photoshop/Illustrator/
                            br
                            |HTML/CSS/JavaScript
            .main__button
                a(href="index.html#work") 他の作品を見る
            footer
                p.copyright &copy; 2020 hirokiishimaru
                