- var thisPage = "LookClothe";
- var link_thisPage = "lookclothe_link";

html(lang="ja")
    head
        include _head
    body
        nav.nav
            ul.nav__box
                li
                    a(href="index.html#top") Top
                li
                    a(href="index.html#about") About
                li
                    a(href="index.html#work") Works
                li
                    a(href="index.html#contact") Contact
        main.main
            .main__title
                h1 Look Clothe
            .main__link
                a(href="http://click.ecc.ac.jp/ecc/hisimaru/works/lookclothe_web/" target="blank") This Site
                    span
            .main__concept
                h2 Concept
                p
                    |月額定額でスタイリスト考案のコーデを一式レンタルサービス
                    br
                    |空白を上手く利用してユーザーが見やすいようなデザインを心がけました。
            .main__productDetail
                ul.main__productDetail__child01
                    li
                        p Production
                        p 個人制作
                    li
                        p Position
                        p 企画/デザイン/コーデング
                ul.main__productDetail__child02
                    li
                        p Use time
                        p 60時間
                    li
                        p Tool
                        p
                            |Photoshop/XD/
                            br
                            |HTML/CSS/JavaScript
            .main__button
                a(href="index.html#work") 他の作品を見る
            footer
                p.copyright &copy; 2020 hirokiishimaru
                