- var thisPage = "MAMAgement";
- var link_thisPage = "mama_link";

html(lang="ja")
    head
        include _head
    body
        nav.nav
            ul.nav__box
                li
                    a(href="index.html#top") Top
                li
                    a(href="index.html#about") About
                li
                    a(href="index.html#work") Works
                li
                    a(href="index.html#contact") Contact
        main.main
            .main__title
                h1 MAMAgement
            .main__link
                a(href="http://click.ecc.ac.jp/ecc/hisimaru/works/mamas/" target="blank") This Site
                    span
            .main__concept
                h2 Concept
                p
                    |冷蔵庫の中にある食材たちを管理しレシピの提案をしてくれるサービス
                    br
                    |1年後期に2回目のグループでの制作物です。
                    br
                    |コーディングをメインに行い速く適切なコーディングを心がけました。
            .main__productDetail
                ul.main__productDetail__child01
                    li
                        p Production
                        p グループ制作
                    li
                        p Position
                        p 企画/コーデング
                ul.main__productDetail__child02
                    li
                        p Use time
                        p 60時間
                    li
                        p Tool
                        p
                            |Photoshop/XD/
                            br
                            |HTML/CSS/JavaScript/PHP
            .main__button
                a(href="index.html#work") 他の作品を見る
            footer
                p.copyright &copy; 2020 hirokiishimaru
                